<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Chat Online</title>
    <link rel="stylesheet" href="/static/css/styles.css"/>
    <script src="https://kit.fontawesome.com/c8e4d183c2.js" crossorigin="anonymous"></script>   
</head>
<body>
    <section>
        <!--- navigation --->
        <nav>
            <!--- logo --->
            <a href="#" class="logo">Chat Online</a>
            <!--- menu --->
            <ul>
                <li><a href="#Home">Home</a></li>
                <li><a href="#About us">About us</a></li> 
                <li><a href="#Profile">Profile</a></li>
                <li><a href="/index" class="cta">ChatBot</a></li>
            </ul>
        </nav>
 
        <!--- text --->
        <div class="text-container">
            <p>Hi, Guys!</p>
            <p>WELCOME</p>
            <p>Heal Up Your Mental Illness</p>
            <p>Website ini kami menyediakan layanan kepada pengguna,
            <br>dan layanan tersebut berupa chat online.</p>
            <button class="hire-btn">Contact me</button>
        </div>
        <!-- model -->
        <img alt="mental" class="model" src="static/images/mental.jpeg">  
    </section>
<!-- services -->
<div class="services">
    <article id="About us">
      </article>
    <!--text-->
    <div class="services-text ">
        <p>About us</p>
    </div>
     
    <div class="box-container">
    <!--- 1 --->
        <div class="box-1">
            <span>1</span>
            <p class="heading">ChatBot?</p>
            <p class="details">chatbot adalah program komputer yang dirancang untuk berinteraksi dengan manusia melalui percakapan atau chat. Mereka dapat menggunakan berbagai teknologi, termasuk kecerdasan buatan (AI), untuk merespons pertanyaan, menjalankan perintah, atau memberikan informasi kepada pengguna.</p>
            
        </div>
    <!--- 2 --->
        <div class="box-2">
            <span>2</span>
            <p class="heading">Mental Illness?</p>
            <p class="details">Penyakit mental atau gangguan mental adalah kondisi yang memengaruhi pikiran, perasaan, perilaku seseorang, atau cara mereka berinteraksi dengan lingkungan sekitarnya. Gangguan mental bisa beragam dalam tingkat keparahan dan jenisnya.</p>
            
        </div>
    <!--- 3 --->
        <div class="box-3">
            <span>3</span>
            <p class="heading">Kegunaan?</p>
            <p class="details">Chatbot dalam konteks kesehatan mental bisa menjadi tambahan yang berharga dalam upaya meningkatkan kesadaran, aksesibilitas, dan dukungan untuk individu yang memerlukan bantuan kesehatan mental. Tentu saja, penting untuk diingat bahwa chatbot tidak menggantikan bantuan profesional, tetapi bisa menjadi alat yang sangat membantu</p>
            
        </div>
    </div>
</div>
<!--testimonials-->
<div class="testimoni">
    <article id="Profile">
    </article>
    <!--text-->
    <div class="testimoni-text ">
        <p>Grup Profile</p>
    </div>        

    <div class="testimoni-col">
        <div class="testimoni-1">
            <img src="">
            <div>
                <img src="static/images/didit.jpeg">
                <h3>Didit Fauzan N (data)</h3>
                <p></p>
                <img src="static/images/hanif.jpeg">
                <h3>Hanif Maulana (full stack)</h3>
                <p></p>
                <img src="static/images/salsa.jpeg">
                <h3>Salsa Bila Fasya (Proposal dan Ui/Ux)</h3>
                <p></p>
            </div>
        </div>

        <div class="testimoni-2">
            <div>
                <img src="static/images/dinda.jpeg">
                <h3>Dinda Putri (Proposal dan Ui/Ux)</h3>
                <p></p>
                <img src="static/images/biah.jpeg">
                <h3>Rabiah Adawiyah (full stack)</h3>
                <p></p>
                <img src="static/images/ridha.jpeg">
                <h3>Ridha Sherli (full stack)</h3>
                <p></p>
            </div>
        </div>
    </div>
</div>
<!-- footer -->
<article id="akun">
</article>
<footer>
    <p>How did our project turn out?</p>
         
    <!--paragraph-->
    <p>We work on projects with the best results and on deadline, hopefully it can help.</p>
    <!--social-->
    <div class="social-icons">
        <a href="#"><i class="fab fa-whatsapp"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fa fa-github"></i></a>
    </div>
     
    <!--copyright-->
    <p class="copyright">Proyek Akhir MSIB Orbit Future Academy 4 Jobs</p>
</footer>

<!--social-attach-bar-->
<div class="social">
    <a href="#"><i class="fa fa-home"></i></a>
    <a href="#akun"><i class="fab fa-pushed"></i></a>
   
</div>
</body>

</html>
